@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- General ----- */
body {
    font-family: "Poppins", sans-serif;
    background-color: #eff0eb;
}

/* ----- Status ----- */
.status__online {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}
  
.status--offline {
    background-color: red;
}
